<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dados de Temperatura e Luminosidade</title>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>
  <div class="field">
    <h1>Gráfico de Temperatura:</h1>
    <canvas id="temperaturaChart" width="150" height="200"></canvas>
    <button id="ligarAr"> Ligar Ar </button>
    <button id="desligarAr"> Desligar Ar </button>
  </div>

  <div class="field">
    <h1>Gráfico de Luminosidade:</h1>
    <canvas id="luminosidadeChart" width="150" height="100"></canvas>
    <button id="ligarLuz"> Ligar Luzes </button>
    <button id="desligarLuz"> Desligar Luzes</button>
  </div>


  <div class="field">
    <h1>Gráfico de Corrente:</h1>
    <canvas id="correnteChart" width="150" height="100"></canvas>
  </div>
</body>
<script>
  document.getElementById("ligarAr").onclick = () => {
    fetch('/dados/releac/1', {
      method: "GET"
    });
  }

  document.getElementById("desligarAr").onclick = () => {
    fetch("/dados/releac/0", {
      method: "GET"
    });
  }

  document.getElementById("ligarLuz").onclick = () => {
    fetch("/dados/relelamp/0", {
      method: "GET"
    });
  }

  document.getElementById("desligarLuz").onclick = () => {
    fetch("/dados/relelamp/1", {
      method: "GET"
    });
  }

  fetch('/dados/temperatura')
    .then(response => response.json())
    .then(data => {
      const ctx = document.getElementById('temperaturaChart').getContext('2d');
      new Chart(ctx, {
        type: 'line',
        data: {
          labels: data.map(item => item.data_insercao),
          datasets: [{
            label: 'Temperatura',
            data: data.map(item => item.mensagem),
            borderColor: 'rgba(255, 99, 132, 1)',
            borderWidth: 1
          }]
        },
        options: {
          scales: {
            y: {
              beginAtZero: true
            }
          }
        }
      });
    });

  fetch('/dados/luminosidade')
    .then(response => response.json())
    .then(data => {
      const ctx = document.getElementById('luminosidadeChart').getContext('2d');
      new Chart(ctx, {
        type: 'line',
        data: {
          labels: data.map(item => item.data_insercao),
          datasets: [{
            label: 'Luminosidade',
            data: data.map(item => item.mensagem),
            borderColor: 'rgba(255, 206, 86, 1)',
            borderWidth: 1
          }]
        },
        options: {
          scales: {
            y: {
              beginAtZero: true
            }
          }
        }
      });
    });

  fetch('/dados/corrente')
    .then(response => response.json())
    .then(data => {
      const ctx = document.getElementById('correnteChart').getContext('2d');
      new Chart(ctx, {
        type: 'line',
        data: {
          labels: data.map(item => item.data_insercao),
          datasets: [{
            label: 'corrente',
            data: data.map(item => item.mensagem),
            borderColor: 'rgba(255, 206, 86, 1)',
            borderWidth: 1
          }]
        },
        options: {
          scales: {
            y: {
              beginAtZero: true
            }
          }
        }
      });
    });


</script>

</html>